<div class="table-responsive p-3">
    <table class="table app-table-hover mb-0 text-left">
        <thead>
        <tr>
            <th class="cell">Título</th>
            <th class="cell">Previsión</th>
            <th class="cell">Gastos</th>
            <th class="cell">Balance</th>
            <th class="cell">Peridiocidad</th>
            <th class="cell">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                {% set month = category.months.first %}
                <td class="cell">{{ category.title }}</td>
                <td class="cell">{{ month.expected }}</td>
                <td class="cell">{{ month.value }}</td>
                <td class="cell">
                    {{ (month.expected - month.value)|number_format(2) }}
                </td>
                <td class="cell">{{ get_peridiocity_text(category.periodicity) }}</td>
                <td class="cell">
                    <a class="btn-sm app-btn-secondary ml-1 p-2"
                       href="{{ path('transaction_new', {'monthId': month.id}) }}"
                       title="Añadir movimiento">
                        {{ source('icons/plus-sm.svg') }} Movimiento
                    </a>
                    <a class="btn-sm app-btn-secondary ml-1 p-2"
                       href="{{ path('transactioncategory_edit', {'monthId': month.id}) }}"
                       title="Editar categoría">
                        {{ source('icons/pencil-sm.svg') }} Editar
                    </a>
                </td>
            </tr>
            {% for transaction in month.transactions %}
                <tr>
                    <td class="cell"><span class="ml-3">{{ "> #{transaction.title}" }}</span></td>
                    <td class="cell"></td>
                    <td class="cell">{{ transaction.amount }}</td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                    <td class="cell"></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
