{% extends 'layout.html.twig' %}

{% block title %}Semanal{% endblock %}
{% block bodyAttr %}data-controller="task"{% endblock %}

{% block content %}
    <div class="app-card shadow-sm mb-4">
        <div class="inner">
            <div class="app-card-body p-4">
                <div class="row gx-5 gy-3">
                    <div class="calendar" data-component="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hide"
         data-component="task-container"
         data-edit="{{ path('task_patch', {'id': 0}) }}"
         data-delete="{{ path('task_delete', {'id': 0}) }}">
        {% for task in tasks %}
            <div data-id="{{ task.id }}"
                 data-title="{{ task.title }}"
                 data-date="{{ task.date|date('Y-m-d') }}"
                 data-color="{{ task.tag.color }}"
                 data-status="{{ task.status }}"
                 data-edit="{{ path('task_patch', {'id': task.id}) }}"
                 data-delete="{{ path('task_delete', {'id': task.id}) }}"
                 data-component="task-event">
            </div>
        {% endfor %}
    </div>
    {{ include('task/components/_new-task-modal.html.twig') }}
    {{ include('task/components/_edit-task-modal.html.twig') }}
{% endblock %}
