<!DOCTYPE html>
<html lang="es">
<head>
    <title>Toolbox | {{ get_title() }}</title>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ preload(asset('build/app.css'), {as: 'style'}) }}"/>
    {% endblock %}
</head>
<body class="app {{ get_body_class() }}" {{ get_body_attr() }}>
{% block body %}{% endblock %}

{% block translations %}{% endblock %}

{% for js_file in encore_entry_js_files('app') %}
    <script src="{{ preload(asset(js_file), {as: 'script'}) }}"></script>
{% endfor %}

{% block javascripts %}{% endblock %}
</body>
</html>
