<div id="app-sidepanel" class="app-sidepanel sidepanel-hidden">
    <div id="sidepanel-drop" class="sidepanel-drop"></div>
    <div class="sidepanel-inner d-flex flex-column">
        <a href="#" id="sidepanel-close" class="sidepanel-close">×</a>
        <div class="app-branding text-center pl-0">
            <a class="app-logo" href="{{ path('landing_index') }}">
                {{ source('icons/tools.svg') }}
                <span class="logo-text ml-2">TOOLBOX</span>
            </a>
            <hr>
        </div>
        <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
            <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                {% set menu = get_menu() %}
                {% for item in menu %}
                    <li class="nav-item">
                        <a class="nav-link {{ item.isActive ? 'active' }}"
                           href="{{ path(item.routeName) }}">
                        <span class="nav-icon">
                            {{ source(item.icon) }}
                        </span>
                            <span class="nav-link-text">{{ item.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
