{% extends 'layout.html.twig' %}

{% page_setup {
    'title': "Editar usuario #{user.email}",
    'header': "Editar usuario #{user.email}",
    'subheader': 'Rellena el formulario para editar el usuario',
    'breadcrumbs': [
    {
        'name': 'Usuarios',
        'path': path('user_index')
    },
    {
        'name': 'Editar usuario',
        'main': true
    }
]
    } %}

{% block content %}
    <div class="row g-4">
        <div class="col-12">
            <div class="app-card app-card-settings shadow-sm p-4">
                <div class="app-card-body">
                    {{ include('components/flash.html.twig') }}
                    {{ form_start(form, {'attr': {'class': 'mt-1', 'autocomplete': 'off'}}) }}
                    <div class="mb-3">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3 row">
                        {{ form_label(form.status) }}
                        {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3 row">
                        {{ form_label(form.roles) }}
                        {{ form_widget(form.roles) }}
                    </div>
                    <button type="submit" class="btn app-btn-primary">Enviar</button>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
