{% extends 'layout.html.twig' %}

{% set title = "Nuevo movimiento para #{month.category.title}" %}
{% page_setup {
    'title': title,
    'header': title,
    'subheader': 'Rellena el formulario para crear un nuevo movimiento',
    'breadcrumbs': [
        {
            'name': 'Monedero',
            'path': path('transactioncategory_index')
        },
        {
            'name': 'Nuevo movimiento',
            'main': true
        }
    ]
} %}

{% block content %}
    <div class="row g-4">
        <div class="col-12">
            <div class="app-card app-card-settings shadow-sm p-4">
                <div class="app-card-body">
                    {{ include('components/flash.html.twig') }}
                    {{ form_start(form, {'attr': {'class': 'mt-1', 'autocomplete': 'off'}}) }}
                    <div class="mb-3">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.amount) }}
                        {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn app-btn-primary">Enviar</button>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
